body {
    background-color: #183152;
}
/* Container */

.container {
    margin-top: -2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #ABC8E2;
    height: 1500px;
    width: auto;
}

/* Header */
.header {
    background-color: #002F2F;
}
.logo {
    padding-top: 50px;
    text-align: center;
    line-height: 5px;
}
.logo h1 {
    font-size: 100px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.logo h2 {
    color: #fff;
}
.logo a {
    text-decoration: none;
    color: #ABC8E2;
}
.logo a:hover {
    color: #046380;
}

/* Nav */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002F2F;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 25px;
}

.nav li a:hover:not(.active) {
    background-color: #046380;
}

.nav .active {
    background-color: #046380;
}

/* Img principale */

.intro {
    margin: 5% 10% 5% 10%;
}


